// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Custom CSS
$font-family-header: "Staatliches", sans-serif;
$font-family-paragraph: "Familjen Grotesk", sans-serif;

:root{
    $bd-violet: #ef0046;
}